
<div class="container" th:fragment="header">
	  <h1 th:text="#{main_title}">Article Management System</h1>
	  	<ul >
				<li><a href="/article" th:text="#{article}">Article</a></li>
				<li ><a href="#" th:text="#{category}">Category</a></li>
				<li ><a href="#" th:text="#{about_us}">About US</a></li>
				<li ><a href="/article?lang=kh" th:text="#{khmer}">Khmer</a></li>
				<li ><a href="/article?lang=en"th:text="#{english}">English</a></li>
		</ul>  
	</div>