<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
   <style type="text/css">
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  overflow: hidden;
  background-color: lightblue;
}
h1 { 
  color: black;
  text-align: center;
}
.container ul{
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		margin: auto;
		overflow: hidden;
	}
li a {
	    color: black;
	    padding: 14px 16px;
		text-decoration: none; 
	}
</style>
</head>

<body>
	<div th:replace="fragment/header::header"></div>
    <h1 th:text="${formAdd}? #{addForm}: #{updateForm}"></h1>
    <h2>
        <a href="/article" th:text="#{backHome}">Back to home</a>
    </h2>
    <form th:action="${formAdd}?'/add':'/update'" method="POST" th:object="${article}" enctype="multipart/form-data">
       <!-- <span th:text="#{id}"></span> --> 
        <input type="hidden" placeholder="Input ID" th:field="*{id}">
        </br>

        <span th:text="#{title}"></span>
        <input type="text" placeholder="Title" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" style="color:red">Title cannot be blank</span>
        </br>

        <span th:text="#{author}"></span>
        <input type="text" placeholder="Author" th:field="*{author}">
        <span th:if="${#fields.hasErrors('author')}" style="color:red">Author cannot be blank</span>
        </br>
        Category:<input type="combobox" placeholder="Category">
       
        </br>

        <input type="file" name="file" accept="image/*">
        <br>
        <input type="submit" th:value="${formAdd}?'Save':'Update'">

    </form>
</body>

</html>