<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1"/>
<title>Article</title>
<style>
    table,tr,th,td{
        border: 2px solid grey;
        border-collapse: collapse;
    }
    img{
        text-align: center;
        width:100%;
    }
    body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  overflow: hidden;
  background-color: lightblue;
}
h1 { 
  color: black;
  text-align: center;
}
.container ul{
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		margin: auto;
		overflow: hidden;
	}
li a {
	    color: black;
	    padding: 14px 16px;
		text-decoration: none; 
	}
    
</style>
</head>
<body>
	<div th:replace="fragment/header::header"></div>
   	<!-- <h1 th:text="#{main_title}">Add New Article</h1> --> 
    <h2><a href="/add" th:text="#{add}">Add New Article</a></h2>
    <table>
        <tr>
            <th th:text="#{id}">ID</th>
            <th th:text="#{title}">Title</th>
            <th th:text="#{author}">Author</th>
            <th th:text="#{date}">Date</th>
            <th th:text="#{picture}">Picture</th>
            <th th:text="#{action}">Action</th>
        </tr>
        <tr th:each="article:${articles}" th:object="${article}">
            <td th:text="*{id}">ID</td>
            <td th:text="*{name}">Title</td>
            <td th:text="*{author}">Author</td>
            <td th:text="*{date}">Date</td>
            <td width="20%"><img th:src="*{thumnailURL}" alt="No image found"/></td>
            <td><a th:href="@{/delete/{id}(id=*{id})}" th:text="#{delete}"></a>
                <a th:href="@{/update/{id}(id=*{id})}" th:text="#{update}">Update</a>
                <a th:href="@{/view/{id}(id=*{id})}" th:text="#{view}">View</a>
            </td>
        </tr>
    </table>
   
</body>
</html>