<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>View</title>
</head>
<body>
    <h1>Detail</h1>
    <div>
        <p>ID: <span th:text="${article.id}"></span></p>
        <p>Title: <span th:text="${article.name}"></span></p>
        <p>Author: <span th:text="${article.author}"></span></p>
        <p>Date: <span th:text="${article.date}"></span></p>
        <img th:src="${article.thumnailURL}" alt="No image found" />

    </div>
</body>

</html>